{% extends "blog/base.html" %}
{% block content%}
  <h1>About Page</h1>
  <select id="chartdropdown">
  {% for header in array %}
    <option onclick="getChart()" value="{{ header }}">{{header}}</option>
  {% endfor%}
  </select>
  <div id="canvas-container">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
{% endblock content %}

<script>
  {% block js %}
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/api/chart/data');
    xhr.onload = function() {
        if (xhr.status === 200) {
          var data=xhr.responseText;
          var jsonResponse = JSON.parse(data);
          var ctx = document.getElementById("myChart").getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: jsonResponse["Gender"]['index'],
                  datasets: [{
                      label: jsonResponse["Gender"]['header'],
                      data: jsonResponse["Gender"]['values'],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          });
          var mySelect = document.getElementById('chartdropdown');
          mySelect.onchange = (event) => {
          remove = document.getElementById('myChart')
          remove.remove()
          add = document.getElementById('canvas-container')
          add.innerHTML = ('<canvas id="myChart" width="400" height="400"></canvas>');
          var inputText = event.target.value;
          var ctx = document.getElementById("myChart").getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: jsonResponse[inputText]['index'],
                  datasets: [{
                      label: jsonResponse[inputText]['header'],
                      data: jsonResponse[inputText]['values'],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          });
 }
        }
        else {
            alert('Request failed.  Returned status of ' + xhr.status);
        }
    };
    xhr.send();
  {% endblock %}
  </script>
